@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: aliceblue;
}

@layer utilities {
    .card {
        @apply border shadow-md p-10 bg-white/80 flex items-center rounded-lg backdrop-blur-3xl max-h-[480px]
    }
    .input {
        @apply w-full border border-gray-300 py-1 rounded-lg bg-[aliceblue]/50 focus:ring-1 focus:ring-primary transition-all duration-200 outline-none
    }
    .btn-primary {
        @apply w-full bg-primary py-2 rounded-xl hover:bg-primary/90 transition-all duration-200 text-white text-[16px] font-semibold
    }
}